.estimate-form {
    // position: absolute;
    // top: 15px;
    // left: 15px;
    // right: 15px;
    // bottom: 0;
    width: auto;
    padding: 15px;

    background: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    overflow: scroll;

    -webkit-box-shadow: 0 8px 10px -8px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 8px 10px -8px rgba(0,0,0,0.1);
    box-shadow: 0 8px 10px -8px rgba(0,0,0,0.1);
}